@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400,500,600,700,800');

$font-family-sans-serif: 'Fira Sans Extra Condensed', sans-serif;
//colors
$green: #46CF1C;
$orange: #FF5F00;
$custom-control-indicator-bg: #fff;
$custom-control-indicator-checked-disabled-bg: #fff;

$fb_color: #4267B2;
$gl_color: #DB4832;
$vk_color: #4A76A8;
$in_color: #B8349D;

$theme-colors: (
    "primary": $orange,
    "success": $orange,
);
$radius: 4px;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

@import "~bootstrap/scss/bootstrap";
@import "mixins";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "~tiny-slider/dist/tiny-slider.css";

@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";

.btn {
    text-transform: uppercase;
    @include boxradius();
    font-weight: 700;

    &.btn-lg {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.helpmsg_edit_link {
    font-size: 10px !important;
    color: $orange !important;
    font-weight: normal !important;
}

.form-control {
    border-radius: $radius;
}

.swal-modal{
    .swal-text, .swal-footer{
        text-align: center;
    }
    .swal-button{
        &.swal-button--cancel{
            @extend .btn;
            @extend .btn-secondary;
        }
        &.swal-button--confirm{
            @extend .btn;
            @extend .btn-success;
        }
    }
}

label {
    @extend .text-secondary;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.breadcrumb {
    background: none;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    color: $white !important;

    .active, .active:before {
        color: $white !important;
    }
}

.fa-vk {
    color: $vk_color;
}

.fa-instagram {
    color: $in_color;
}

.fa-facebook-f {
    color: $fb_color;
}

.fa-google-plus-g {
    color: $gl_color;
}

header {
    position: absolute;
    width: 100%;
    z-index: 10;
    color: $white;

    .top {

        .search {
            input {
                background: transparent !important;
                color: $white;
                border-color: $white;
                @include boxradius();
                border-left: none;
                outline: none !important;
                box-shadow: none !important;
                padding-left: 0px;

            }

            .input-group-text {
                background: none;
                color: $white;
                border: 1px solid $white;
                border-right: 0;
                border-radius: $radius 0 0 $radius;

                & > img:last-child {
                    display: none;
                }
            }

            .search__module {
                position: relative;

                .results_box {
                    display: none;
                    position: absolute;
                    max-height: 400px;
                    min-width: 100%;
                    background: $white;
                    border-radius: 0 0 $radius $radius;
                    overflow: hidden;
                    color: $black;
                    z-index: 100;
                    @include boxshadow(0px 25px 70px -30px $black);

                    .wait, ._notfound {
                        display: none;
                    }

                    &.waiting {
                        .wait {
                            display: block;
                            padding: 10px 13px;
                        }

                        .items {
                            display: none;
                        }
                    }

                    &.notfound {
                        .items {
                            display: none;
                        }

                        ._notfound {
                            display: block;
                            padding: 10px 13px;
                        }
                    }

                    .shop {
                        .info {
                            @include animate(.2s);
                            background: $white;
                            padding: 10px 13px;
                            text-decoration: none;
                            color: inherit;

                            img {
                                @include boxradius();
                            }

                            & > div + div {
                                @extend .ml-2;
                                margin-top: -5px;
                                line-height: 17px;
                            }

                            &:hover {
                                background: $gray-200;
                            }
                        }

                        .items {
                            .item {
                                a {
                                    @include animate(.2s);
                                    background: $white;
                                    padding: 8px 0 7px 13px;
                                    color: inherit;
                                    text-decoration: none;
                                    line-height: 21px;

                                    &:hover {
                                        background: $gray-200;
                                    }

                                    img {
                                        @include boxradius();
                                    }
                                }
                            }
                        }

                        & + .shop {
                            border-top: 1px solid $gray-300;
                        }
                    }

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        left: 0;
                        max-height: 85vh;
                    }
                }

                &.focus {
                    .results_box {
                        display: block;
                    }

                    input, .input-group-text {
                        background: $white !important;
                        color: $black !important;

                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;

                        & > img:first-child {
                            display: none;
                        }

                        & > img:last-child {
                            display: inline-block;
                        }
                    }
                }

                @include media-breakpoint-down(sm) {
                    position: inherit;
                }

            }

            @include media-breakpoint-down(sm) {
                position: inherit;
            }
        }

        //.city_select {
        //    padding-top: 34px;
        //    margin-top: 0.5rem !important;;
        //}
        .account {
            .inner {
                @include animate();
                @include boxradius();
                background: transparent;
                text-decoration: none;
                cursor: pointer;
                border: none;
                color: $white;
                outline: none;

                .icon {
                    @include animate();
                    @include svgimage('/images/theme/profile.svg', $white, 30px, 30px);
                    //opacity: .5;
                }

                &:hover {
                    background: rgba(218, 218, 218, 0.2);

                    .icon {
                        //opacity: 1;
                    }
                }
            }


        }

    }

    .globalmenu {
        .links {
            & > a {
                @extend .py-2;
                @extend .px-3;
                display: inline-block;
                color: $white;

                @include media-breakpoint-up(sm) {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

                @include media-breakpoint-down(sm) {
                    padding-left: 0 !important;
                }

                span {
                    @extend .mb-1;
                    display: block;
                    text-align: center;

                    img {
                        width: 30px;
                    }
                }

                &:hover {
                    color: $orange;
                    text-decoration: none;
                }
            }
        }

    }
}

#greetin {
    .slider {
        .slide {
            @extend .page_top_banner;
        }
    }
}

.card__module_show {
    #shop_item_dish_modal {
        bottom: 56px;
        height: inherit !important;
    }
}

#greetin_page_default {
    @extend .page_top_banner;
    overflow: visible !important;

    &.shop {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0 !important;
        }

        .shop_likes {
            position: relative;
            margin-top: -5px;
            margin-left: 10px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 100%;
                border: 4px solid transparent;

                border-left: 4px solid $orange;
                border-top: 4px solid $orange;
            }
        }

        .shop_last_review {
            border-top: 1px solid rgba(218, 218, 218, 0.2) !important;
        }

        .shop_info_btn {
            @include animate();
            background: transparent;
            border: none;
            text-transform: none;
            line-height: 18px;
            color: $white !important;

            i {
                @include animate();
                @extend .text-white-50;
                font-size: 28px;
                margin-top: 5px;
            }

            &:hover {
                background: rgba(218, 218, 218, 0.2);

                i {
                    color: $white !important;
                }
            }
        }

        .shop_info_dropdown {

            .inner_dropdown {
                width: 360px;
            }

            @include boxradius();
            //@include boxshadow();
        }
    }
}

.restaurant_page, .category_page {
    @include media-breakpoint-down(md) {
        .products {
            margin-top: 0 !important;

            & > .products_group:first-child {
                margin-top: 0 !important;
            }
        }
    }
}

.modal {
    &.product {
        .modal-content {
            @include boxradius();
            position: relative;
            border: none;

            .close {
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
                z-index: 1;
                color: $orange;
                opacity: 1;

                &:hover {
                    color: darken($orange, 5%);
                }
            }

            .image {
                img {
                    max-width: 100%;
                    @include boxradius();
                }

                .badges {
                    left: -4px;
                    right: inherit;

                    & > div {
                        height: 41px;
                        line-height: 41px;
                        margin-top: 15px;
                        @extend .h4;
                        @extend .text-white;
                        margin-bottom: 0;

                        &:before {
                            border: 7px solid transparent;
                            content: "";
                            display: block;
                            position: absolute;
                            right: 100%;
                            margin-right: 0;
                            top: 100%;
                            left: 1px;
                        }

                        &.new {
                            &:before {
                                border-right: 7px solid darken($green, 10%);
                                border-top: 7px solid darken($green, 10%);
                            }
                        }

                        &.top {
                            &:before {
                                border-right: 7px solid darken($red, 10%);
                                border-top: 7px solid darken($red, 10%);
                            }
                        }

                        &.chele {
                            background: $red;

                            &:before {
                                border-right: 7px solid darken($red, 10%);
                                border-top: 7px solid darken($red, 10%);
                            }
                        }
                    }

                    @include media-breakpoint-down(sm) {
                        left: 1rem;
                        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                        & > div {
                            &:before{
                                display: none;
                            }
                        }
                    }
                }

            }

            .items {
                .item {
                    .image {
                        img {
                            max-width: 60px;
                            max-height: 60px;
                        }
                    }
                }
            }

            .dops {
                @include media-breakpoint-down(md) {
                    border-left: none !important;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        overflow: hidden !important;
    }
    .modal-content {
        padding: 3rem;
        @include media-breakpoint-down(sm) {
            padding: 0;
            position: fixed !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0;
            border: none;
            border-radius: 0;

            .modal-header, .modal-footer {
                border: none;
            }

            .modal-title{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 50px;
                background: $white;
                padding: .7rem 1rem;
                z-index: 100;
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
            }

            .modal-body {
                padding: 0 1rem 1rem;
                margin-top: 50px;
            }

            .image.big{
                margin: 0 -1rem;
                img{
                    border-radius: 0;
                }
            }

        }

        .modal-body {
            overflow-y: auto;
            background: $white;
            .inner {

            }
        }
    }

}
@include media-breakpoint-down(sm) {
    .card__module_show .modal.product .modal-content .modal-body{
        margin-bottom: 56px;
    }
}
.modal-backdrop {
    //background: $orange;
}

.tns-outer {
    position: relative;
}

.shop_slider {
    margin: 0 -0.5rem;

    .tns-outer {
        padding-bottom: 36px !important;
    }

    .tns-controls {
        margin: 0 0.5rem;
        @extend .d-flex;
        outline: none !important;

        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        button {
            background: none;
            border: none;
            color: $orange;
            font-size: 1.5rem;
            position: relative;
            padding: 0;

            &[disabled] {
                color: $gray-200;
            }

            &[data-controls="prev"] {
                @extend .mr-auto;
            }
        }
    }

    .shop_title {
        .badge {
            background: none;
            color: $orange;
        }
    }
}

.preview-review {
    a {
        color: inherit;
        text-decoration: none;
    }

    .lead {
        .fa-comments {
            color: $gray-700;
        }

        .likes {
            i {
                color: $green;
            }
        }
    }
}

.shop_pos_item {
    @include boxradius();
    border: 1px solid $gray-200;
    @include animate(.3s);
    cursor: pointer;

    a {
        color: inherit;
        outline: none;
        text-decoration: none;
    }

    .image {
        text-align: center;
        position: relative;

        .lazy {
            max-width: 100%;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            @include boxradius();
            height: 160px;
            background-size: cover;
        }


    }

    .params {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        border-color: $gray-400;
        @include animate(.3s);
    }

    ._searched {
        background: $yellow;
    }

    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
    }


}

.price {
    .old {
        text-decoration: line-through;
    }

    .new {
        color: $red;
    }
}

.badges {
    position: absolute;
    left: -20px;
    top: 0px;

    & > div {
        @extend .px-2;
        @extend .ml-1;
        margin-top: 10px;
        color: $white;

        position: relative;
        height: 31px;
        line-height: 31px;


        &:before {
            content: '';
            display: block;
            position: absolute;
            border: 4px solid transparent;
            left: 0;
            bottom: -8px;
        }

        &.new {
            background: $green;

            &:before {
                border-right: 4px solid darken($green, 10%);
                border-top: 4px solid darken($green, 10%);
            }
        }

        &.top {
            background: $orange;

            &:before {
                border-right: 4px solid darken($orange, 10%);
                border-top: 4px solid darken($orange, 10%);
            }
        }

        &.chele {
            background: $red;

            &:before {
                border-right: 4px solid darken($red, 10%);
                border-top: 4px solid darken($red, 10%);
            }
        }
    }
}

.custom_scrollbar {
    .mCSB_dragger_bar {
        background-color: $orange !important;
        border-radius: 0 !important;
    }

    .mCSB_draggerRail {
        background-color: $gray-200;
    }

    .mCSB_container {
        margin-right: 16px !important;

        &.mCS_no_scrollbar_y.mCS_y_hidden {
            margin-right: 0 !important;
        }
    }
}

.add_to_cart, .modal_add_to_cart {
    &.adding {
        &:before {
            content: '\f110';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            animation: fa-spin 2s infinite linear;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            margin-right: 5px;
            font-size: .875em;
        }

        &.btn-lg {
            padding-left: 1rem;

            &:before {
                margin-right: 10px;
            }
        }
    }
}

.card__module {
    @include animate(.2s);
    position: fixed;
    left: 0;
    right: 0;
    bottom: -56px;
    z-index: 10000;
    background: $orange;
    @include boxshadow(0px 5px 20px 0px $black);

    .container {
        padding: 9px 15px;
    }

    .svg_image {
        @include svgimage('/images/theme/cart.svg', $white, 30px, 30px);
    }
}

#card__module_modal {
    .card_products {
        .items {
            tr:first-child td {
                border-top: none;
            }

            tr:last-child td {
                padding-top: 15px;
            }

            td {
                @extend .align-middle;
                padding: 0.5rem;

                &.count {
                    .count_input {
                        width: 90px !important;
                    }
                }

                &:first-child {
                    width: 1%;
                    padding-left: 0;
                }

                &:last-child {
                    width: 1%;
                    padding-right: 0;
                }
            }

            @include media-breakpoint-down(sm) {
                display: block;
                tbody, tr, td {
                    display: block;
                    width: 100% !important;
                    text-align: center;
                    border: none;
                    padding-left: 0 !important;
                }

                tr + tr {
                    border-top: 1px solid #ced4da;
                }
                .count_input {
                    margin: 0 auto;
                }
                .image {
                    margin: 0 auto;
                    width: 60px;
                }
            }

        }
    }

    .card_order_info {

    }

    .card_register {

    }
}

.load, .disabled_box {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        background: $white;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        z-index: 100;
    }

    &.load:after {
        content: '\f110';
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        animation: fa-spin 2s infinite linear;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 5px;
        color: $orange;
        top: 50%;
        left: 50%;
        z-index: 100;
        font-size: 30px;
        margin-left: -16px;
        margin-top: -16px;
    }
}

.count_input {
    .input-group {
        width: 90px;
        @extend .mx-auto;
    }

    input {
        width: 20px !important;
        text-align: center;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .btn {
        background: $gray-200;
        border-color: $gray-400;
    }
}

body {
    @include animate(.2s);
    padding-bottom: 0;
}

body.card__module_show {
    padding-bottom: 56px;

    .card__module {
        bottom: 0;

        .order_modal_show {
            text-decoration: none;
        }
    }
}

#products {
    .filter {
        position: relative;
        top: inherit;

        @include media-breakpoint-up(md) {
            position: sticky;
            top: 0px;
            height: 100vh;

            .nav_outer {
                position: absolute;
                bottom: 0;
                width: 100%;
                top: 48px;

                .card__module_show & {
                    bottom: 56px;
                }
            }

        }

        .search {
            input {
                background: transparent !important;
                color: $black;
                border-color: $gray-400;
                @include boxradius();
                border-left: none;
                outline: none !important;
                box-shadow: none !important;
                padding-left: 0px;
                border-top: none;
                border-right: none;
                border-radius: 0;

                @include media-breakpoint-down(md) {
                    font-size: 16px;
                }
            }

            .input-group-text {
                background: none;
                color: $black;
                border: 1px solid $gray-400;
                border-right: 0;
                border-top: none;
                border-left: none;
                border-radius: 0;
                padding-left: 0;

                img {
                    opacity: .3;
                }
            }
        }

        .nav {
            .nav-link {
                padding-left: 29px;
                position: relative;
                color: $black;

                &.active {
                    color: $orange;

                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 3px;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: $orange;
                    }

                }
            }
        }
    }

    .filter_mobile {
        width: 100%;
        z-index: 100;
        font-weight: bold;
        background: #e9ecef;
        visibility: hidden;

        .inner {
            height: 40px;
            color: $orange;
            overflow: hidden;
            position: relative;
            background: $gray-200;

            .products_nav {
                padding: 0;
            }


            .open {
                display: block;
                position: absolute;
                right: 0;
                line-height: 40px;
                top: 0;
                font-size: $font-size-lg;
                left: 0;
                text-align: right;
                z-index: 100;
                padding: 0 !important;
            }

            .close {
                display: none;
                position: absolute;
                right: 20px;
                line-height: 40px;
                top: 0;
                font-size: $font-size-lg;
                text-align: right;
                z-index: 100;
            }
        }

        li {
            display: block;
        }

        a {
            display: none;
            padding-left: 21px;
            padding-right: 0;

            &.active {
                display: block;
                position: relative;
                height: 40px;

                &:before {
                    @extend .pt-2;
                    @extend .pr-2;
                    position: absolute;
                    top: 4px;
                    content: "\F2E7";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    left: 0;
                }
            }
        }

        &.sticky {
            visibility: visible;
            position: fixed;
            top: 0;
        }

        &.opened {
            bottom: 0;

            .inner {
                height: auto;

                .flex-grow-1 {
                    height: 100vh;
                }

                .nav_outer {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                }

                .products_nav {
                    a {
                        font-weight: normal;
                        display: block;
                        color: $black;

                        &.active {
                            color: $orange;
                        }
                    }
                }

                .open {
                    display: none;
                }

                .close {
                    display: block;
                }
            }
        }
    }

}

#shops_catalog {
    .filter {

    }

    .catalog {

        .item{
            text-decoration: none;
            .th{
                @extend .d-block;
                @include boxradius();
                min-height: 160px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        //.card {
        //    position: relative;
        //    background: none;
        //    border: none;
        //
        //    & > a {
        //        color: $white;
        //        text-decoration: none;
        //    }
        //
        //    .badges {
        //        left: -19px;
        //        top: 0;
        //        z-index: 100;
        //    }
        //
        //    .inner {
        //        @extend .shadow_box_card;
        //        min-height: 220px;
        //    }
        //
        //}
    }
}

.auth_page {
    height: 100vh;

    .site_logo {
        @include svgimage('/images/theme/logo.svg', $white, 30px, 30px);
    }

    .form_box {
        width: 320px;
        max-width: 100%;
        @include boxradius();
    }
}

#article {
    min-height: 80vh;
}

footer {
    background: $black;
    color: $white;

    a {
        color: $orange;
    }

    .socials {
        @extend .clearfix;

        a {
            @include boxradius();
            font-size: 1.25rem;
            float: left;
            display: block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border: 1px solid;

            & + a {
                @extend .ml-3
            }
        }
    }

    .powered {
        @extend .py-3;
        border-top: 1px solid lighten($black, 5%);
        color: $gray-700;

        a {
            color: $gray-700;
        }
    }
}

.products_items {
    &.compact {
        .toggle_btn_box {

        }

        & > .row:first-child > div {

            &:nth-child(12) ~ div {
                display: none;
            }

            @include media-breakpoint-down(md) {
                &:nth-child(9) ~ div {
                    display: none;
                }
            }

            @include media-breakpoint-down(sm) {
                &:nth-child(6) ~ div {
                    display: none;
                }
            }

        }
    }
}

h1, .h1 {
    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h2, .h2 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

h4, .h4 {
    @include media-breakpoint-down(md) {
        font-size: 1.2rem;
    }
}

#user_enter_modal {
    .soc_btn {
        color: $white;
        font-weight: lighter;
        text-transform: none;

        i {
            color: $white;
        }

        .i + span {
            border-left: 1px solid;
        }

        &.fb {
            background: $fb_color;

            .i + span {
                border-color: darken($fb_color, 5%);
            }
        }

        &.gl {
            background: $gl_color;

            .i + span {
                border-color: darken($gl_color, 5%);
            }
        }

        &.vk {
            background: $vk_color;

            .i + span {
                border-color: darken($vk_color, 5%);
            }
        }

        &.in {
            background: $in_color;

            .i + span {
                border-color: darken($in_color, 5%);
            }
        }
    }
}

#products_group_specials {

    .products_title {
        color: $red;
    }

    //.card{
    //    position: relative;
    //    background-size: cover;
    //    background-repeat: no-repeat;
    //    background-position: center;
    //    border: none;
    //    border-radius: $radius;
    //    overflow: hidden;
    //    &:before{
    //        content: '';
    //        position: absolute;
    //        width: 100%;
    //        height: 100%;
    //        top:0;
    //        left: 0;
    //        background: $black;
    //        opacity: .5;
    //    }
    //    .inner{
    //        @extend .p-2;
    //        z-index: 100;
    //    }
    //}


    #specials_slider {
        .card {
            @extend .shadow_box_card;

            .inner {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                min-height: 160px;

                @include media-breakpoint-down(sm) {
                    min-height: auto;
                }
            }

            .card-img-overlay {
                padding: 0 !important;

                & > div {
                    @extend .py-2;
                    @extend .px-2;
                }

                @extend .h-100;
                @extend .d-flex;
                @extend .align-items-center;

                @include media-breakpoint-down(sm) {
                    text-align: center;
                    height: auto !important;
                    display: block !important;
                    min-height: auto;

                }
            }

            @include media-breakpoint-up(sm) {

            }

        }
    }
}

#products_group_pop {
    .products_title {
        color: $orange;
    }
}

.gallery {
    display: grid;
    list-style: none;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    max-width: 46rem;
    width: 100%;
    padding: 0;
}

.gallery > li {
    border-radius: 4px;
    @extend .overflow-hidden;
}

.gallery > li:first-child {
    grid-row: 1 / span 2
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.account_page {

    .filter {
        .nav_outer {
            top: 0 !important;
        }
    }
}
