.checkbox.checkbox-css.on_g{
    label:before{
        background: #fff;
    }
}

.orders_table{
    tr.not_viewed{
        td{
            background-color: rgba(50,169,50,.1) !important;
        }
    }
}